* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Economica', sans-serif;
    /* background-color: #A0ACBD; */
}

header {
    padding: 30px;
    text-align: center;
    font-size: 35px;
  }

/* Container for flexboxes */
.row {
    display: -webkit-flex;
    display: flex;
}
  
/* Create three unequal columns that sits next to each other */
.column {
    padding: 10px;
}
  
/* Left and right column */
.column.side {
     -webkit-flex: 1;
     -ms-flex: 1;
     flex: 1;
}
  
/* Middle column */
.column.middle {
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
}


body {
    font-family: 'Economica', sans-serif;
    color: whitesmoke;
    background-color: #9A9AD0;
    margin: 30px;
    line-height: 1.5;
    cursor: default;
    /* background-image: linear-gradient(to top, #0060f1, #8176ed, #b292eb, #d4b2ec, #ebd6f0); */
    background-repeat: no-repeat;
    /* background-size: 100%; */
}

.grid-container {
    display: grid;
    grid-template-areas: 
      'header header header header header header' 
      'left middle middle middle middle right' 
      'footer footer footer footer footer footer';
  } 

.left,
.middle,
.right {
  padding: 10px;
}

.left {
    grid-area: left;
  }

.middle {
    grid-area: middle;
  }
aside {
    width: 100%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: right;
}

#buttonPlaceholder {
    border-top: 3px solid rgb(11, 12, 53);
    padding-top: 20px;
    width: 50%;
}

.newCity {
    background-color: #9A9AD0;
    width: 100%;
    border: none;
    padding: 7px;
    margin-bottom: 15px;
}

.newCity:hover {
    background-color: #E6F4F1;
    color: whitesmoke;
    cursor: pointer;
}

#currentWeather {
    width: 98%;
    border: solid 2px black;
    padding: 20px;
    
}

#currentWeather p {
    margin-bottom: 20px;
    font-size: 18px;
}

#weatherIcon {
    vertical-align: middle;
}


h1{
    font-size: 45px;
    margin: 10px;
    line-height: 1.25;
    font-weight: 200;
    text-align: center;
}


input {
    width: 400px;
    align-items: left;
}


#search-button {
    background-color: #6789b0;
    color: whitesmoke;
    border: none;
    padding: 7px;
    margin-bottom: 15px;
    border: radius 0.3em; 
}

#search-button:hover {
    background-color: rgb(44, 13, 102);
    transition: all 0.5s ease-in;
    cursor: pointer;
}

.container {
    display: flex;
}

#search,
#currentWeather,
#fiveDayForecast {
    text-align: left;
    margin: 10px;
}
#buttonPlaceholder {
    border-top: 3px solid rgb(11, 12, 53);
    padding-top: 20px;
    width: 50%;
}

.newCity {
    background-color: #EFEDFF;
    width: 100%;
    border: none;
    padding: 7px;
    margin-bottom: 15px;
}

.newCity:hover {
    background-color: rgb(41, 99, 223);
    color: whitesmoke;
    cursor: pointer;
}

#currentWeather {
    width: 98%;
    border: solid 2px black;
    padding: 20px;
    
}

#currentWeather p {
    margin-bottom: 20px;
    font-size: 18px;
}

#weatherIcon {
    vertical-align: middle;
}

.hidden {
    display: none;
}

.favorable {
    background-color: #1EC198;
    max-width: fit-content;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    color: whitesmoke;

}

.moderate {
    background-color: rgb(187, 146, 14);
    max-width: fit-content;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    color: whitesmoke;
}

.severe {
    background-color: rgb(122, 12, 12);
    max-width: fit-content;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    color: whitesmoke;
}

.inline {
    display: inline;
}

#forecastBoxContainer {
    display: flex;
    direction: row;
    width: 100%;
}

#forecastBoxContainer section {
    padding-bottom: 15px;
}

#forecastBoxContainer section p {
    padding-bottom: 10%;
}

#fiveDayForecast section{
    background-color: rgb(66, 66, 87);
    color: whitesmoke;
    margin: 20px;
    width: 300px;
    padding: 10px;
}

/*Tooltip*/
.tooltip {
    position: relative;
    display: inline;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 2;
    bottom: 0%;
    left: 200%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    }
    .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    }
    
    /* Deletion */
    .btnPlusDelete {
        display: flex;
        justify-content: space-between;
        background-color: #EFEDFF;
        
        
    }
    
    .status-icon {
        /* padding: 2px 5px;
        margin-left: -100%; */
        
        background-color: #FF4B67;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        border-radius: 25%;
    }
    
    .status-icon:hover {
        background-color: black;
    }
 